[submodule "gridfinity-rebuilt-openscad"]
	path = gridfinity-rebuilt-openscad
	url = https://github.com/kennetek/gridfinity-rebuilt-openscad.git
[submodule "3rdlibs/gridfinity_extended_openscad"]
	path = 3rdlibs/gridfinity_extended_openscad
	url = https://github.com/ostat/gridfinity_extended_openscad.git
